*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px dotted blue;*/
}
:root {
    --main-color-rgb: 247 238 219;
    --burnt-orange-button-price-rgb: 232 93 42;
    --warm-yellow-highlights-details-rgb: 242 184 75;
    --sage-icons-smallElement-green-rgb: 122 155 99;
    --white-cardbackground-text-rgb: 255 255 255;
    --dark-nav-footer-rgb: 16 28 26;
    --font-heading: "Bebas Neue", sans-serif;
    --font-body: "Poppins", sans-serif;
}
body{
    background-color: rgb(var(--main-color-rgb)/60%);
    font-family: var(--font-body);
}

h1{
    margin-top: 50px;
    color: rgb(var(--dark-nav-footer-rgb));
}

h1, .sub-header{
    text-align: center;
}

.sub-header{
    color: rgb(var(--burnt-orange-button-price-rgb));
}

.page-container{
    display: grid;
    grid-template-rows: 60px 200px auto 50px; /* ? */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(var(--dark-nav-footer-rgb));
   
}
header .logo_img {
    width: 100px;
    height: auto;            
    /* object-fit: contain; */
    
}

a {
    text-decoration: none;
    color: rgb(var(--white-cardbackground-text-rgb));
    
}

nav{
    display: flex;
    justify-content: space-between;
    width: 25%; /* ? */
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 20px;
}

.card{
    
    background-color: rgb(var(--white-cardbackground-text-rgb)/50%);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
    
    
}
.card img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.card h3, 
.card p{
    padding: 12px ;
}

.card button{
    background-color: rgb(var(--burnt-orange-button-price-rgb));
    color: rgb(var(--white-cardbackground-text-rgb));
    border: none;
    padding: 10px;
    margin-top: auto;
    border-radius: 5px;
    transition : transform 0.2s ease, filter 0.2s ease;
    }

.card button:hover{
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(90%);
}
.card button:active {
    transform: scale(0.97);
}

/* .burger-description{
    min-height: 60px;
} */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 80%;
    padding: 80px;
}
.sidebar img{
    width: 220px;
    border-radius: 8px;
}
.sidebar h4{
    padding-bottom: 15px;
}
.sidebar p{
    padding-top: 30px
}

.footer{
    background-color: rgb(var(--dark-nav-footer-rgb));
    color: rgb(var(--white-cardbackground-text-rgb));
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.story p{
    text-align: center;
}
